<!DOCTYPE html>
<html lang="ko" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8" >
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/orderMenu.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@400;700;800&display=swap" rel="stylesheet">
    <title>HARI</title>
</head>
<body>
<nav>
    <input type="button" class="back">
    <input type="button" class="home">
</nav>

<div class="locationContainer">
    <div class="locationBox">

        <div class="myLocation">

            <span class="myLocationText">스타벅스 이수역점</span>
        </div>

        <br>
        <div class="storeBox">
            <div class="storeImg"><img src="/img/ame.jpg" alt="매장 이미지"></div>
            <div class="storeBoxText">
                <ul>
                    <li class="storeName"><a href="#">아이스아메리카노</a></li>
                    <li class="storeCategory"><span>3,500</span><span>원</span></li>
                </ul>
            </div>
        </div>
        <br>
        <div class="storeBox">
            <div class="storeImg"><img src="/img/ame.jpg" alt="매장 이미지"></div>
            <div class="storeBoxText">
                <ul>
                    <li class="storeName"><a href="#">아이스아메리카노</a></li>
                    <li class="storeCategory"><span>3,500</span><span>원</span></li>
                </ul>
            </div>
        </div>
        <br>
        <div class="storeBox">
            <div class="storeImg"><img src="/img/ame.jpg" alt="매장 이미지"></div>
            <div class="storeBoxText">
                <ul>
                    <li class="storeName"><a href="#">아이스아메리카노</a></li>
                    <li class="storeCategory"><span>3,500</span><span>원</span></li>
                </ul>
            </div>
        </div>
        <br>
        <div class="storeBox">
            <div class="storeImg"><img src="/img/ame.jpg" alt="매장 이미지"></div>
            <div class="storeBoxText">
                <ul>
                    <li class="storeName"><a href="#">아이스아메리카노</a></li>
                    <li class="storeCategory"><span>3,500</span><span>원</span></li>
                </ul>
            </div>
        </div>
        <br>
        <div class="mainContainer">
            <div style="height: 5000px; display: flex; justify-content: center;" >
                <div id="floatMenu">
                    <input type="button" class="location-button">
                    <input type="button" class="mic-button" onclick="toggleMicBox()">
                    <input type="button" class="cart-button">
                </div>
            </div>
        </div>
    </div>
</div>


</body>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="/js/main.js"></script>

</html>