<!DOCTYPE html>
<html lang="ko" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8" >
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/orderOption.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@400;700;800&display=swap" rel="stylesheet">
    <title>HARI</title>
</head>
<body>
<nav>
    <input type="button" class="back">
    <input type="button" class="home">
</nav>

<div class="locationContainer">
    <div class="locationBox">

        <div class="myLocation">
            <span class="myLocationText">스타벅스 이수역점</span>
        </div>
        <br>
        <div class="menuCategory">
            <div class="menuCategoryText" >온도를 선택 해주세요</div>
        </div>
        <br>
        <div class="checkDegree">
            <input type="checkbox"><span style=" color: black; font-size: 16px; font-weight: 400;" >따뜻한 HOT</span><br>
            <br>
            <input type="checkbox"><span style=" color: black; font-size: 16px; font-weight: 400;" >차가운 ICE</span><br>
        </div>
        <br>
        <div class="menuCategory">
            <div class="menuCategoryText">수량을 선택 해주세요</div>
        </div>
            <br>
            <div>
                <button class="cntButton">-</button><span style="margin: 20px;">1</span><button class="cntButton">+</button><br>
            </div>

        <br>
        <div class="nextButtonSec" >
            <button class="next">다음</button>
        </div>

        <div class="mainContainer">
            <div style="height: 5000px; display: flex; justify-content: center;" >
                <div id="floatMenu">
                    <input type="button" class="location-button">
                    <input type="button" class="mic-button" onclick="toggleMicBox()">
                    <input type="button" class="cart-button">
                </div>
            </div>
        </div>
    </div>
</div>


</body>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="/js/main.js"></script>

</html>